# Laravel core
core/vendor
core/node_modules
core/storage/logs
core/storage/framework
core/public/storage
core/.env
core/.env.*

# General
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store

assets/common/common-json-data/payment-gateways.json
assets/tenant/page-layout/payment-gateway.json
